$sp: 15px;
$border-color: #dddddd;
$text-color: #333333;

$color-body-main: #DEE1E7;//页面主体背景色
$color-body-slider: #28324A;//侧边栏背景色
$color-body-header: #505F83;//页面头部背景色

$color-table-hover: #F0F4FF;//表格行hover时背景色

$color-card-header: #F2F3F7;//卡片头部背景色

$color-border: #D3D4D9;//1px描边颜色

$color-red: #DE7C8C;

$font-color: #ffffff;

$-color-primary: #81a3e2 !default;